[submodule "apps/landing-page"]
	path = apps/landing-page
	url = https://github.com/Continuum-Design-System/continuum-design-system.github.io.git
[submodule "packages/continuum"]
	path = packages/continuum
	url = https://github.com/Continuum-Design-System/continuum.git
[submodule "apps/docs"]
	path = apps/docs
	url = https://github.com/Continuum-Design-System/docs.git
