[submodule "apps/landing-page"]
	path = apps/landing-page
	url = https://github.com/cds-design/landing-page.git
[submodule "packages/continuum"]
	path = packages/continuum
	url = https://github.com/cds-design/continuum.git
[submodule "apps/docs"]
	path = apps/docs
	url = https://github.com/cds-design/docs.git
[submodule "archives"]
	path = archives
	url = https://github.com/cds-design/archives.git
